# Agregaci√≥n de datos por categoria

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender  = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]# nivel de ingresos

In [3]:
#generaremos dos colecciones de genero e ingresos
n = 500

gender_data = []#aqui guardaremos los datos aleatorios
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))#selecciona un valor aleatorio de lo que tengo en gender
    income_data.append(np.random.choice(income))

In [4]:
gender_data[1:10]#muestrame los valores de 1 a 10 (esto es una lista)

['Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']

In [5]:
income_data[1:10]

['Rich',
 'Middle Class',
 'Poor',
 'Poor',
 'Rich',
 'Middle Class',
 'Rich',
 'Poor',
 'Poor']

Las varaibles que creamos a continuacion genran 500 datos aleatorios siguiendo unos valores de media y dispersion que nosotros otorgamos usando una **distribucion normal**

In [6]:
height = 160 + 30 * np.random.randn(n) #160= media; 30= dispercion
weight = 65 + 25 * np.random.randn(n) #65= media; 25= dispercion
age = 30 + 12 * np.random.randn(n)#igual que anteriores
income= 18000 + 3500 * np.random.randn()

Creamos un diccionario que almacena todos los datos aleatorios que hemos creado

In [7]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "income": income
    }
)

In [8]:
data.head()

   Gender Economic Status      Height      Weight        Age       income
0  Female    Middle Class  199.983391   55.877895  11.410386  20313.93231
1    Male            Rich  179.260378   75.956390  20.205359  20313.93231
2  Female    Middle Class  127.826740  103.169631   8.884356  20313.93231
3    Male            Poor  145.304329   43.072119  33.186233  20313.93231
4    Male            Poor  161.103163   53.497287  33.737704  20313.93231

Hemos generado un dataset con valores aleatorios. **Muy cool**