# K Nearest Neighbors

In [65]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd

In [66]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [67]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

En este tipo de datasets si nos faltan valores, deberiamos llenarlos con valores muy muy negativos para que no afecte el algoritmo

In [68]:
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]#class es tipo de cancer

In [69]:
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [70]:
#vamos a borrar la columna name por que no nos sera util
df = df.drop(["name"],1)

In [71]:
df.replace("?",-99999, inplace=True)
#ese dato negativo tan alto es para que un valor desconocido no afecte nuestro algoritmo
#inplace true es reemplazo inmediatamente

In [72]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [73]:
Y = df["class"] #a predecir
X = df[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]#predictoras

In [74]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [75]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

2 es tumor beningno 
4 maligno y hay que operar

## Clasificador de los K-Vecinos

In [76]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)#tamaño de test del 20% de los datos

In [77]:
#K-vecinos para clasificacion
clf = neighbors.KNeighborsClassifier()

In [78]:
clf.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

**NOTA DE ERROR**
Este dataset tiene datos que aparecen como '?' lo que genera error al entrenarlos. Se deben eliminar. _lo hicimos debajo de drop name_

In [79]:
#veamos cual es el puntaje de efectividad que obtiene nuestro algoritmo: Primera tirada: 0.978
accuracy = clf.score(X_test,Y_test)
accuracy

0.9785714285714285

## Clasificacion sin Limpieza (Y por que SIEMPRE se debe limpiar la data)
Vamos a clasificar los datos sin hacer la respectiva limpieza del dataset

**¿Que resultara?**
Posiblemente nuestro porcentaje de efectividad **baje considerablemente**

In [82]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.replace("?",-99999, inplace=True)
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]#class es tipo de cancer

NO limpiaremos la columna "name" :O

In [83]:
Y = df["class"] #a predecir
X = df[["name","V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]#predictoras

In [84]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [85]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [86]:
accuracy = clf.score(X_test,Y_test)
accuracy

0.5857142857142857

**Nuestro porcentaje de efectividad se redujo considerablemente** por el simple hecho de que no limpiamos una columna que resultaba totalmente innecesaria _(el nombre)_
* No debemos darle absolutamente todo al algoritmo
    * solo aquellos datos que sean de verdad importantes

**en la vida real tenemos datasets con ruido** es interesante ver que pasa con nuestra eficacia prediciendo cuando nuestros datasets estan con ruido